# DATA MANUPULATION TASKS

Filtering data

sorting data

group by aggregations

adding new coloumns

handling dates

maerging dataframes

treating missing values

In [126]:
#import values
import os
import pandas as pd
import numpy as np

In [4]:
#change the working directory
os.chdir("H://python")

In [115]:
#load the data set values
store=pd.read_csv("FILES PART 1//Store.csv",encoding='latin')
store

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
5,6,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
6,7,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656
7,8,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
8,9,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-BI-10003910,Office Supplies,Binders,DXL Angle-View Binders with Locking Rings by S...,18.5040,3,0.20,5.7825
9,10,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,OFF-AP-10002892,Office Supplies,Appliances,Belkin F5C206VTEL 6 Outlet Surge,114.9000,5,0.00,34.4700
10,11,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
11,12,CA-2011-115812,6/9/2011,6/14/2011,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.4240,4,0.20,68.3568
12,13,CA-2014-114412,4/16/2014,4/21/2014,Standard Class,AA-10480,Andrew Allen,Consumer,United States,Concord,...,28027,South,OFF-PA-10002365,Office Supplies,Paper,Xerox 1967,15.5520,3,0.20,5.4432
13,14,CA-2013-161389,12/6/2013,12/11/2013,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,...,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.9760,3,0.20,132.5922
14,15,US-2012-118983,11/22/2012,11/26/2012,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,76106,Central,OFF-AP-10002311,Office Supplies,Appliances,Holmes Replacement Filter for HEPA Air Cleaner...,68.8100,5,0.80,-123.8580
15,16,US-2012-118983,11/22/2012,11/26/2012,Standard Class,HP-14815,Harold Pawlan,Home Office,United States,Fort Worth,...,76106,Central,OFF-BI-10000756,Office Supplies,Binders,Storex DuraTech Recycled Plastic Frosted Binders,2.5440,3,0.80,-3.8160
16,17,CA-2011-105893,11/11/2011,11/18/2011,Standard Class,PK-19075,Pete Kriz,Consumer,United States,Madison,...,53711,Central,OFF-ST-10004186,Office Supplies,Storage,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x...",665.8800,6,0.00,13.3176
17,18,CA-2011-167164,5/13/2011,5/15/2011,Second Class,AG-10270,Alejandro Grove,Consumer,United States,West Jordan,...,84084,West,OFF-ST-10000107,Office Supplies,Storage,Fellowes Super Stor/Drawer,55.5000,2,0.00,9.9900
18,19,CA-2011-143336,8/27/2011,9/1/2011,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,OFF-AR-10003056,Office Supplies,Art,Newell 341,8.5600,2,0.00,2.4824
19,20,CA-2011-143336,8/27/2011,9/1/2011,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.4800,3,0.20,16.0110
20,21,CA-2011-143336,8/27/2011,9/1/2011,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,OFF-BI-10002215,Office Supplies,Binders,"Wilson Jones Hanging View Binder, White, 1""",22.7200,4,0.20,7.3840
21,22,CA-2013-137330,12/10/2013,12/14/2013,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,...,68025,Central,OFF-AR-10000246,Office Supplies,Art,Newell 318,19.4600,7,0.00,5.0596
22,23,CA-2013-137330,12/10/2013,12/14/2013,Standard Class,KB-16585,Ken Black,Corporate,United States,Fremont,...,68025,Central,OFF-AP-10001492,Office Supplies,Appliances,"Acco Six-Outlet Power Strip, 4' Cord Length",60.3400,7,0.00,15.6884
23,24,US-2014-156909,7/17/2014,7/19/2014,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,...,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.3720,2,0.30,-1.0196
24,25,CA-2012-106320,9/25/2012,9/30/2012,Standard Class,EB-13870,Emily Burns,Consumer,United States,Orem,...,84057,West,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3,0.00,240.2649
25,26,CA-2013-121755,1/16/2013,1/20/2013,Second Class,EH-13945,Eric Hoffmann,Consumer,United States,Los Angeles,...,90049,West,OFF-BI-10001634,Office Supplies,Binders,Wilson Jones Active Use Binders,11.6480,2,0.20,4.2224
26,27,CA-2013-121755,1/16/2013,1/20/2013,Second Class,EH-13945,Eric Hoffmann,Consumer,United States,Los Angeles,...,90049,West,TEC-AC-10003027,Technology,Accessories,Imation 8GB Mini TravelDrive USB 2.0 Flash Drive,90.5700,3,0.00,11.7741
27,28,US-2012-150630,9/17/2012,9/21/2012,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",3083.4300,7,0.50,-1665.0522
28,29,US-2012-150630,9/17/2012,9/21/2012,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,OFF-BI-10000474,Office Supplies,Binders,Avery Recycled Flexi-View Covers for Binding S...,9.6180,2,0.70,-7.0532
29,30,US-2012-150630,9/17/2012,9/21/2012,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,FUR-FU-10004848,Furniture,Furnishings,"Howard Miller 13-3/4"" Diameter Brushed Chrome ...",124.2000,3,0.20,15.5250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9964,9965,CA-2013-146374,12/6/2013,12/11/2013,Second Class,HE-14800,Harold Engle,Corporate,United States,Newark,...,19711,East,FUR-FU-10002671,Furniture,Furnishings,Electrix 20W Halogen Replacement Bulb for Zoom...,13.4000,1,0.00,6.4320
9965,9966,CA-2013-146374,12/6/2013,12/11/2013,Second Class,HE-14800,Harold Engle,Corporate,United States,Newark,...,19711,East,OFF-PA-10000349,Office Supplies,Paper,Easy-staple paper,4.9800,1,0.00,2.3406
9966,9967,CA-2013-146374,12/6/2013,12/11/2013,Second Class,HE-14800,Harold Engle,Corporate,United States,Newark,...,19711,East,OFF-EN-10004483,Office Supplies,Envelopes,"#10 White Business Envelopes,4 1/8 x 9 1/2",109.6900,7,0.00,51.5543
9967,9968,CA-2014-153871,12/12/2014,12/18/2014,Standard Class,RB-19435,Richard Bierner,Consumer,United States,Plainfield,...,7060,East,OFF-BI-10004209,Office Supplies,Binders,"Fellowes Twister Kit, Gray/Clear, 3/pkg",40.2000,5,0.00,18.0900
9968,9969,CA-2014-153871,12/12/2014,12/18/2014,Standard Class,RB-19435,Richard Bierner,Consumer,United States,Plainfield,...,7060,East,OFF-BI-10004600,Office Supplies,Binders,Ibico Ibimaster 300 Manual Binding System,735.9800,2,0.00,331.1910
9969,9970,CA-2014-153871,12/12/2014,12/18/2014,Standard Class,RB-19435,Richard Bierner,Consumer,United States,Plainfield,...,7060,East,OFF-AP-10003622,Office Supplies,Appliances,"Bravo II Megaboss 12-Amp Hard Body Upright, Re...",22.7500,7,0.00,6.5975
9970,9971,CA-2012-103772,6/28/2012,7/2/2012,Standard Class,MP-17470,Mark Packer,Home Office,United States,Smyrna,...,30080,South,OFF-BI-10002867,Office Supplies,Binders,GBC Recycled Regency Composition Covers,119.5600,2,0.00,54.9976
9971,9972,CA-2012-103772,6/28/2012,7/2/2012,Standard Class,MP-17470,Mark Packer,Home Office,United States,Smyrna,...,30080,South,OFF-AR-10000538,Office Supplies,Art,"Boston Model 1800 Electric Pencil Sharpener, Gray",140.7500,5,0.00,42.2250
9972,9973,CA-2013-130225,9/12/2013,9/18/2013,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Houston,...,77041,Central,OFF-EN-10000056,Office Supplies,Envelopes,Cameo Buff Policy Envelopes,99.5680,2,0.20,33.6042
9973,9974,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,TEC-PH-10004080,Technology,Phones,Avaya 5410 Digital phone,271.9600,5,0.20,27.1960
9974,9975,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-AR-10004752,Office Supplies,Art,Blackstonian Pencils,18.6900,7,0.00,5.2332
9975,9976,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-PA-10000743,Office Supplies,Paper,Xerox 1977,13.3600,2,0.00,6.4128
9976,9977,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,TEC-PH-10002496,Technology,Phones,Cisco SPA301,249.5840,2,0.20,31.1980
9977,9978,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-FA-10003467,Office Supplies,Fasteners,"Alliance Big Bands Rubber Bands, 12/Pack",13.8600,7,0.00,0.0000
9978,9979,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,13.3760,4,0.20,4.6816
9979,9980,US-2013-103674,12/7/2013,12/11/2013,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,OFF-BI-10002026,Office Supplies,Binders,Ibico Recycled Linen-Style Covers,437.4720,14,0.20,153.1152
9980,9981,US-2012-151435,9/6/2012,9/9/2012,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,...,70506,South,FUR-TA-10001039,Furniture,Tables,KI Adjustable-Height Table,85.9800,1,0.00,22.3548
9981,9982,CA-2014-163566,8/4/2014,8/7/2014,First Class,TB-21055,Ted Butterfield,Consumer,United States,Fairfield,...,45014,East,OFF-LA-10004484,Office Supplies,Labels,Avery 476,16.5200,5,0.20,5.3690
9982,9983,US-2013-157728,9/23/2013,9/29/2013,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,...,49505,Central,OFF-PA-10002195,Office Supplies,Paper,"RSVP Cards & Envelopes, Blank White, 8-1/2"" X ...",35.5600,7,0.00,16.7132
9983,9984,US-2013-157728,9/23/2013,9/29/2013,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,...,49505,Central,TEC-PH-10001305,Technology,Phones,Panasonic KX TS208W Corded phone,97.9800,2,0.00,27.4344
9984,9985,CA-2012-100251,5/17/2012,5/23/2012,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.5000,10,0.00,15.1200
9985,9986,CA-2012-100251,5/17/2012,5/23/2012,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.6000,4,0.00,16.1240
9986,9987,CA-2013-125794,9/30/2013,10/4/2013,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.2400,1,0.00,15.2208
9987,9988,CA-2014-163629,11/18/2014,11/22/2014,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.9900,1,0.00,28.7964
9988,9989,CA-2014-163629,11/18/2014,11/22/2014,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.1000,5,0.00,55.6470
9989,9990,CA-2011-110422,1/22/2011,1/24/2011,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2014-119914,5/5/2014,5/10/2014,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [6]:
#number of observations
store.shape

(9994, 21)

In [7]:
#information about the columns/variables in a data set
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
Row ID           9994 non-null int64
Order ID         9994 non-null object
Order Date       9994 non-null object
Ship Date        9994 non-null object
Ship Mode        9994 non-null object
Customer ID      9994 non-null object
Customer Name    9994 non-null object
Segment          9994 non-null object
Country          9994 non-null object
City             9994 non-null object
State            9994 non-null object
Postal Code      9994 non-null int64
Region           9994 non-null object
Product ID       9994 non-null object
Category         9994 non-null object
Sub-Category     9994 non-null object
Product Name     9994 non-null object
Sales            9994 non-null float64
Quantity         9994 non-null int64
Discount         9994 non-null float64
Profit           9994 non-null float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [8]:
store.dtypes

Row ID             int64
Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [9]:
#first 3 observations from the data set
store.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [10]:
#last 2 observations from the data set
store.tail(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9992,9993,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.60,4,0.0,13.320
9993,9994,CA-2014-119914,5/5/2014,5/10/2014,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.16,2,0.0,72.948

In [11]:
#count the number of missing values
store.isnull()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9964,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9965,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9966,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9967,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9968,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9969,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9970,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9971,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9972,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9973,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9974,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9975,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9976,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9977,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9978,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9979,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9980,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9981,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9982,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9983,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9984,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9985,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9986,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9987,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9988,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9989,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9990,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9991,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9992,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9993,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
store.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [13]:
#summary statistics for numeric variables
store.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [14]:
store["Sales"].describe()

count     9994.000000
mean       229.858001
std        623.245101
min          0.444000
25%         17.280000
50%         54.490000
75%        209.940000
max      22638.480000
Name: Sales, dtype: float64

In [15]:
store[["Sales","Postal Code"]].describe()

              Sales   Postal Code
count   9994.000000   9994.000000
mean     229.858001  55190.379428
std      623.245101  32063.693350
min        0.444000   1040.000000
25%       17.280000  23223.000000
50%       54.490000  56430.500000
75%      209.940000  90008.000000
max    22638.480000  99301.000000

In [16]:
#finding out how many cities are the orders being delivered 
#we have to print the contents of the city coloumn
cities=store["City"]
print(type(cities))
print(len(cities))

<class 'pandas.core.series.Series'>
9994

In [17]:
#altrnate method for extracting city coloumn
cities=store.City
print(len(cities))

9994

In [18]:
#In the below quiery,we are tring to find out how many unique cities are the pacakges delivered
cities_uniq=store["City"].unique().tolist()
print(type(cities_uniq))
print(cities_uniq)
len(cities_uniq)

<class 'list'>
['Henderson', 'Los Angeles', 'Fort Lauderdale', 'Concord', 'Seattle', 'Fort Worth', 'Madison', 'West Jordan', 'San Francisco', 'Fremont', 'Philadelphia', 'Orem', 'Houston', 'Richardson', 'Naperville', 'Melbourne', 'Eagan', 'Westland', 'Dover', 'New Albany', 'New York City', 'Troy', 'Chicago', 'Gilbert', 'Springfield', 'Jackson', 'Memphis', 'Decatur', 'Durham', 'Columbia', 'Rochester', 'Minneapolis', 'Portland', 'Saint Paul', 'Aurora', 'Charlotte', 'Orland Park', 'Urbandale', 'Columbus', 'Bristol', 'Wilmington', 'Bloomington', 'Phoenix', 'Roseville', 'Independence', 'Pasadena', 'Newark', 'Franklin', 'Scottsdale', 'San Jose', 'Edmond', 'Carlsbad', 'San Antonio', 'Monroe', 'Fairfield', 'Grand Prairie', 'Redlands', 'Hamilton', 'Westfield', 'Akron', 'Denver', 'Dallas', 'Whittier', 'Saginaw', 'Medina', 'Dublin', 'Detroit', 'Tampa', 'Santa Clara', 'Lakeville', 'San Diego', 'Brentwood', 'Chapel Hill', 'Morristown', 'Cincinnati', 'Inglewood', 'Tamarac', 'Colorado Springs', 'Belleville', 'Taylor', 'Lakewood', 'Arlington', 'Arvada', 'Hackensack', 'Saint Petersburg', 'Long Beach', 'Hesperia', 'Murfreesboro', 'Layton', 'Austin', 'Lowell', 'Manchester', 'Harlingen', 'Tucson', 'Quincy', 'Pembroke Pines', 'Des Moines', 'Peoria', 'Las Vegas', 'Warwick', 'Miami', 'Huntington Beach', 'Richmond', 'Louisville', 'Lawrence', 'Canton', 'New Rochelle', 'Gastonia', 'Jacksonville', 'Auburn', 'Norman', 'Park Ridge', 'Amarillo', 'Lindenhurst', 'Huntsville', 'Fayetteville', 'Costa Mesa', 'Parker', 'Atlanta', 'Gladstone', 'Great Falls', 'Lakeland', 'Montgomery', 'Mesa', 'Green Bay', 'Anaheim', 'Marysville', 'Salem', 'Laredo', 'Grove City', 'Dearborn', 'Warner Robins', 'Vallejo', 'Mission Viejo', 'Rochester Hills', 'Plainfield', 'Sierra Vista', 'Vancouver', 'Cleveland', 'Tyler', 'Burlington', 'Waynesboro', 'Chester', 'Cary', 'Palm Coast', 'Mount Vernon', 'Hialeah', 'Oceanside', 'Evanston', 'Trenton', 'Cottage Grove', 'Bossier City', 'Lancaster', 'Asheville', 'Lake Elsinore', 'Omaha', 'Edmonds', 'Santa Ana', 'Milwaukee', 'Florence', 'Lorain', 'Linden', 'Salinas', 'New Brunswick', 'Garland', 'Norwich', 'Alexandria', 'Toledo', 'Farmington', 'Riverside', 'Torrance', 'Round Rock', 'Boca Raton', 'Virginia Beach', 'Murrieta', 'Olympia', 'Washington', 'Jefferson City', 'Saint Peters', 'Rockford', 'Brownsville', 'Yonkers', 'Oakland', 'Clinton', 'Encinitas', 'Roswell', 'Jonesboro', 'Antioch', 'Homestead', 'La Porte', 'Lansing', 'Cuyahoga Falls', 'Reno', 'Harrisonburg', 'Escondido', 'Royal Oak', 'Rockville', 'Coral Springs', 'Buffalo', 'Boynton Beach', 'Gulfport', 'Fresno', 'Greenville', 'Macon', 'Cedar Rapids', 'Providence', 'Pueblo', 'Deltona', 'Murray', 'Middletown', 'Freeport', 'Pico Rivera', 'Provo', 'Pleasant Grove', 'Smyrna', 'Parma', 'Mobile', 'New Bedford', 'Irving', 'Vineland', 'Glendale', 'Niagara Falls', 'Thomasville', 'Westminster', 'Coppell', 'Pomona', 'North Las Vegas', 'Allentown', 'Tempe', 'Laguna Niguel', 'Bridgeton', 'Everett', 'Watertown', 'Appleton', 'Bellevue', 'Allen', 'El Paso', 'Grapevine', 'Carrollton', 'Kent', 'Lafayette', 'Tigard', 'Skokie', 'Plano', 'Suffolk', 'Indianapolis', 'Bayonne', 'Greensboro', 'Baltimore', 'Kenosha', 'Olathe', 'Tulsa', 'Redmond', 'Raleigh', 'Muskogee', 'Meriden', 'Bowling Green', 'South Bend', 'Spokane', 'Keller', 'Port Orange', 'Medford', 'Charlottesville', 'Missoula', 'Apopka', 'Reading', 'Broomfield', 'Paterson', 'Oklahoma City', 'Chesapeake', 'Lubbock', 'Johnson City', 'San Bernardino', 'Leominster', 'Bozeman', 'Perth Amboy', 'Ontario', 'Rancho Cucamonga', 'Moorhead', 'Mesquite', 'Stockton', 'Ormond Beach', 'Sunnyvale', 'York', 'College Station', 'Saint Louis', 'Manteca', 'San Angelo', 'Salt Lake City', 'Knoxville', 'Little Rock', 'Lincoln Park', 'Marion', 'Littleton', 'Bangor', 'Southaven', 'New Castle', 'Midland', 'Sioux Falls', 'Fort Collins', 'Clarksville', 'Sacramento', 'Thousand Oaks', 'Malden', 'Holyoke', 'Albuquerque', 'Sparks', 'Coachella', 'Elmhurst', 'Passaic', 'North Charleston', 'Newport News', 'Jamestown', 'Mishawaka', 'La Quinta', 'Tallahassee', 'Nashville', 'Bellingham', 'Woodstock', 'Haltom City', 'Wheeling', 'Summerville', 'Hot Springs', 'Englewood', 'Las Cruces', 'Hoover', 'Frisco', 'Vacaville', 'Waukesha', 'Bakersfield', 'Pompano Beach', 'Corpus Christi', 'Redondo Beach', 'Orlando', 'Orange', 'Lake Charles', 'Highland Park', 'Hempstead', 'Noblesville', 'Apple Valley', 'Mount Pleasant', 'Sterling Heights', 'Eau Claire', 'Pharr', 'Billings', 'Gresham', 'Chattanooga', 'Meridian', 'Bolingbrook', 'Maple Grove', 'Woodland', 'Missouri City', 'Pearland', 'San Mateo', 'Grand Rapids', 'Visalia', 'Overland Park', 'Temecula', 'Yucaipa', 'Revere', 'Conroe', 'Tinley Park', 'Dubuque', 'Dearborn Heights', 'Santa Fe', 'Hickory', 'Carol Stream', 'Saint Cloud', 'North Miami', 'Plantation', 'Port Saint Lucie', 'Rock Hill', 'Odessa', 'West Allis', 'Chula Vista', 'Manhattan', 'Altoona', 'Thornton', 'Champaign', 'Texarkana', 'Edinburg', 'Baytown', 'Greenwood', 'Woonsocket', 'Superior', 'Bedford', 'Covington', 'Broken Arrow', 'Miramar', 'Hollywood', 'Deer Park', 'Wichita', 'Mcallen', 'Iowa City', 'Boise', 'Cranston', 'Port Arthur', 'Citrus Heights', 'The Colony', 'Daytona Beach', 'Bullhead City', 'Portage', 'Fargo', 'Elkhart', 'San Gabriel', 'Margate', 'Sandy Springs', 'Mentor', 'Lawton', 'Hampton', 'Rome', 'La Crosse', 'Lewiston', 'Hattiesburg', 'Danville', 'Logan', 'Waterbury', 'Athens', 'Avondale', 'Marietta', 'Yuma', 'Wausau', 'Pasco', 'Oak Park', 'Pensacola', 'League City', 'Gaithersburg', 'Lehi', 'Tuscaloosa', 'Moreno Valley', 'Georgetown', 'Loveland', 'Chandler', 'Helena', 'Kirkwood', 'Waco', 'Frankfort', 'Bethlehem', 'Grand Island', 'Woodbury', 'Rogers', 'Clovis', 'Jupiter', 'Santa Barbara', 'Cedar Hill', 'Norfolk', 'Draper', 'Ann Arbor', 'La Mesa', 'Pocatello', 'Holland', 'Milford', 'Buffalo Grove', 'Lake Forest', 'Redding', 'Chico', 'Utica', 'Conway', 'Cheyenne', 'Owensboro', 'Caldwell', 'Kenner', 'Nashua', 'Bartlett', 'Redwood City', 'Lebanon', 'Santa Maria', 'Des Plaines', 'Longview', 'Hendersonville', 'Waterloo', 'Cambridge', 'Palatine', 'Beverly', 'Eugene', 'Oxnard', 'Renton', 'Glenview', 'Delray Beach', 'Commerce City', 'Texas City', 'Wilson', 'Rio Rancho', 'Goldsboro', 'Montebello', 'El Cajon', 'Beaumont', 'West Palm Beach', 'Abilene', 'Normal', 'Saint Charles', 'Camarillo', 'Hillsboro', 'Burbank', 'Modesto', 'Garden City', 'Atlantic City', 'Longmont', 'Davis', 'Morgan Hill', 'Clifton', 'Sheboygan', 'East Point', 'Rapid City', 'Andover', 'Kissimmee', 'Shelton', 'Danbury', 'Sanford', 'San Marcos', 'Greeley', 'Mansfield', 'Elyria', 'Twin Falls', 'Coral Gables', 'Romeoville', 'Marlborough', 'Laurel', 'Bryan', 'Pine Bluff', 'Aberdeen', 'Hagerstown', 'East Orange', 'Arlington Heights', 'Oswego', 'Coon Rapids', 'San Clemente', 'San Luis Obispo', 'Springdale', 'Lodi', 'Mason']

531

In [19]:
#alternate method
cities=store.City
print(len(set(cities)))

531

In [20]:
#no of different variables in segment coloumn
segment=store.Segment
print(set(segment))
print(len(set(segment)))

{'Corporate', 'Consumer', 'Home Office'}
3

In [21]:
#alternate method
seg_uniq=store["Segment"].unique().tolist()
print(type(seg_uniq))
print(seg_uniq)
len(seg_uniq)

<class 'list'>
['Consumer', 'Corporate', 'Home Office']

3

# FILTER

In [22]:
#filter the data
#filter the data by segments are consumer
#logical indexation [data[logical condition]]
#query method[data.query("logical condition)]

In [23]:
#logical condition
store[store["Segment"]=='Consumer'].head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820

In [24]:
store[store["Segment"]=='Consumer'].tail(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9992,9993,CA-2014-121258,2/27/2014,3/4/2014,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.60,4,0.0,13.320
9993,9994,CA-2014-119914,5/5/2014,5/10/2014,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.16,2,0.0,72.948

In [25]:
#query method
store.query('Segment=="Consumer"' and 'City=="Henderson"')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.960,2,0.0,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,0.0,219.5820
538,539,CA-2012-134894,12/7/2012,12/11/2012,Standard Class,DK-12985,Darren Koutras,Consumer,United States,Henderson,...,42420,South,OFF-AP-10001271,Office Supplies,Appliances,Eureka The Boss Cordless Rechargeable Stick Vac,152.940,3,0.0,41.2938
539,540,CA-2012-134894,12/7/2012,12/11/2012,Standard Class,DK-12985,Darren Koutras,Consumer,United States,Henderson,...,42420,South,FUR-CH-10002647,Furniture,Chairs,"Situations Contoured Folding Chairs, 4/Set",283.920,4,0.0,70.9800
996,997,CA-2012-162537,10/28/2012,11/3/2012,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,OFF-EN-10003862,Office Supplies,Envelopes,Laser & Ink Jet Business Envelopes,10.670,1,0.0,4.9082
997,998,CA-2012-162537,10/28/2012,11/3/2012,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,OFF-ST-10004258,Office Supplies,Storage,Portable Personal File Box,36.630,3,0.0,9.8901
998,999,CA-2012-162537,10/28/2012,11/3/2012,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,FUR-FU-10002885,Furniture,Furnishings,Magna Visual Magnetic Picture Hangers,24.100,5,0.0,9.1580
999,1000,CA-2012-162537,10/28/2012,11/3/2012,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,FUR-FU-10001918,Furniture,Furnishings,C-Line Cubicle Keepers Polyproplyene Holder Wi...,33.110,7,0.0,12.9129
1866,1867,CA-2014-118857,4/16/2014,4/19/2014,First Class,AH-10075,Adam Hart,Corporate,United States,Henderson,...,89015,West,FUR-FU-10004460,Furniture,Furnishings,"Howard Miller 12"" Round Wall Clock",196.450,5,0.0,70.7220
2321,2322,CA-2012-109470,12/31/2012,1/3/2013,Second Class,KC-16255,Karen Carlisle,Corporate,United States,Henderson,...,42420,South,OFF-BI-10004492,Office Supplies,Binders,Tuf-Vin Binders,94.740,3,0.0,44.5278
2322,2323,CA-2012-109470,12/31/2012,1/3/2013,Second Class,KC-16255,Karen Carlisle,Corporate,United States,Henderson,...,42420,South,OFF-BI-10001072,Office Supplies,Binders,"GBC Clear Cover, 8-1/2 x 11, unpunched, 25 cov...",60.640,4,0.0,27.8944
2323,2324,CA-2012-109470,12/31/2012,1/3/2013,Second Class,KC-16255,Karen Carlisle,Corporate,United States,Henderson,...,42420,South,OFF-BI-10003707,Office Supplies,Binders,Aluminum Screw Posts,76.300,5,0.0,38.1500
2324,2325,CA-2012-109470,12/31/2012,1/3/2013,Second Class,KC-16255,Karen Carlisle,Corporate,United States,Henderson,...,42420,South,OFF-BI-10000977,Office Supplies,Binders,Ibico Plastic Spiral Binding Combs,364.800,12,0.0,167.8080
2551,2552,CA-2014-101042,11/20/2014,11/24/2014,Standard Class,AB-10105,Adrian Barton,Consumer,United States,Henderson,...,42420,South,FUR-FU-10004665,Furniture,Furnishings,"3M Polarizing Task Lamp with Clamp Arm, Light ...",821.880,6,0.0,213.6888
2552,2553,CA-2014-101042,11/20/2014,11/24/2014,Standard Class,AB-10105,Adrian Barton,Consumer,United States,Henderson,...,42420,South,OFF-BI-10000088,Office Supplies,Binders,GBC Imprintable Covers,21.960,2,0.0,10.7604
3088,3089,US-2014-159205,4/1/2014,4/3/2014,Second Class,DB-12910,Daniel Byrd,Home Office,United States,Henderson,...,42420,South,FUR-FU-10001591,Furniture,Furnishings,Advantus Panel Wall Certificate Holder - 8.5x11,61.000,5,0.0,25.6200
3089,3090,US-2014-159205,4/1/2014,4/3/2014,Second Class,DB-12910,Daniel Byrd,Home Office,United States,Henderson,...,42420,South,TEC-PH-10000526,Technology,Phones,Vtech CS6719,671.930,7,0.0,188.1404
3537,3538,CA-2011-158771,5/9/2011,5/9/2011,Same Day,SB-20290,Sean Braxton,Corporate,United States,Henderson,...,42420,South,OFF-ST-10000107,Office Supplies,Storage,Fellowes Super Stor/Drawer,83.250,3,0.0,14.9850
3538,3539,CA-2011-158771,5/9/2011,5/9/2011,Same Day,SB-20290,Sean Braxton,Corporate,United States,Henderson,...,42420,South,OFF-LA-10001641,Office Supplies,Labels,Avery 518,9.450,3,0.0,4.5360
3539,3540,CA-2011-158771,5/9/2011,5/9/2011,Same Day,SB-20290,Sean Braxton,Corporate,United States,Henderson,...,42420,South,OFF-LA-10003121,Office Supplies,Labels,Avery 506,20.650,5,0.0,9.4990
3540,3541,CA-2011-158771,5/9/2011,5/9/2011,Same Day,SB-20290,Sean Braxton,Corporate,United States,Henderson,...,42420,South,OFF-PA-10002689,Office Supplies,Paper,Weyerhaeuser First Choice Laser/Copy Paper (20...,45.360,7,0.0,21.7728
4378,4379,CA-2012-140830,11/30/2012,12/2/2012,Second Class,PS-18970,Paul Stevenson,Home Office,United States,Henderson,...,42420,South,OFF-EN-10000461,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Recycled Envelopes",17.480,2,0.0,8.2156
4379,4380,CA-2012-140830,11/30/2012,12/2/2012,Second Class,PS-18970,Paul Stevenson,Home Office,United States,Henderson,...,42420,South,OFF-EN-10002831,Office Supplies,Envelopes,"Tyvek Top-Opening Peel & Seel Envelopes, Gray",71.880,2,0.0,32.3460
4430,4431,CA-2013-168893,11/4/2013,11/9/2013,Second Class,AP-10915,Arthur Prichep,Consumer,United States,Henderson,...,42420,South,OFF-FA-10002280,Office Supplies,Fasteners,Advantus Plastic Paper Clips,20.000,4,0.0,9.6000
4431,4432,CA-2013-168893,11/4/2013,11/9/2013,Second Class,AP-10915,Arthur Prichep,Consumer,United States,Henderson,...,42420,South,OFF-AR-10001770,Office Supplies,Art,Economy #2 Pencils,7.980,3,0.0,2.0748
4432,4433,CA-2013-168893,11/4/2013,11/9/2013,Second Class,AP-10915,Arthur Prichep,Consumer,United States,Henderson,...,42420,South,FUR-FU-10002885,Furniture,Furnishings,Magna Visual Magnetic Picture Hangers,24.100,5,0.0,9.1580
4433,4434,CA-2013-168893,11/4/2013,11/9/2013,Second Class,AP-10915,Arthur Prichep,Consumer,United States,Henderson,...,42420,South,OFF-AR-10003772,Office Supplies,Art,Boston 16750 Black Compact Battery Pencil Shar...,8.750,1,0.0,2.6250
4434,4435,CA-2013-168893,11/4/2013,11/9/2013,Second Class,AP-10915,Arthur Prichep,Consumer,United States,Henderson,...,42420,South,FUR-TA-10003392,Furniture,Tables,Global Adaptabilities Conference Tables,842.940,3,0.0,160.1586
4840,4841,CA-2014-154123,11/21/2014,11/26/2014,Standard Class,SC-20050,Sample Company A,Home Office,United States,Henderson,...,42420,South,FUR-FU-10000629,Furniture,Furnishings,9-3/4 Diameter Round Wall Clock,27.580,2,0.0,11.5836
4879,4880,CA-2014-143567,11/3/2014,11/6/2014,Second Class,TB-21175,Thomas Boland,Corporate,United States,Henderson,...,42420,South,OFF-EN-10004846,Office Supplies,Envelopes,Letter or Legal Size Expandable Poly String Ti...,5.320,2,0.0,2.6068
4880,4881,CA-2014-143567,11/3/2014,11/6/2014,Second Class,TB-21175,Thomas Boland,Corporate,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",975.920,4,0.0,292.7760
4881,4882,CA-2014-143567,11/3/2014,11/6/2014,Second Class,TB-21175,Thomas Boland,Corporate,United States,Henderson,...,42420,South,TEC-AC-10004145,Technology,Accessories,Logitech diNovo Edge Keyboard,2249.910,9,0.0,517.4793
4882,4883,CA-2014-143567,11/3/2014,11/6/2014,Second Class,TB-21175,Thomas Boland,Corporate,United States,Henderson,...,42420,South,OFF-ST-10001580,Office Supplies,Storage,Super Decoflex Portable Personal File,59.920,4,0.0,16.7776
7090,7091,CA-2012-119480,1/9/2012,1/13/2012,Standard Class,CC-12685,Craig Carroll,Consumer,United States,Henderson,...,42420,South,OFF-PA-10000474,Office Supplies,Paper,Easy-staple paper,106.320,3,0.0,49.9704
7091,7092,CA-2012-119480,1/9/2012,1/13/2012,Standard Class,CC-12685,Craig Carroll,Consumer,United States,Henderson,...,42420,South,OFF-AP-10001205,Office Supplies,Appliances,Belkin 5 Outlet SurgeMaster Power Centers,163.440,3,0.0,45.7632
7092,7093,CA-2012-119480,1/9/2012,1/13/2012,Standard Class,CC-12685,Craig Carroll,Consumer,United States,Henderson,...,42420,South,OFF-AR-10004691,Office Supplies,Art,Boston 1730 StandUp Electric Pencil Sharpener,42.760,2,0.0,11.1176
7093,7094,CA-2012-119480,1/9/2012,1/13/2012,Standard Class,CC-12685,Craig Carroll,Consumer,United States,Henderson,...,42420,South,OFF-PA-10004996,Office Supplies,Paper,"Speediset Carbonless Redi-Letter 7"" x 8 1/2""",51.550,5,0.0,24.2285
7114,7115,US-2013-102239,5/6/2013,5/7/2013,First Class,LW-16990,Lindsay Williams,Corporate,United States,Henderson,...,89015,West,FUR-TA-10003392,Furniture,Tables,Global Adaptabilities Conference Tables,1685.880,6,0.0,320.3172
7115,7116,US-2013-102239,5/6/2013,5/7/2013,First Class,LW-16990,Lindsay Williams,Corporate,United States,Henderson,...,89015,West,OFF-BI-10001890,Office Supplies,Binders,Avery Poly Binder Pockets,5.728,2,0.2,2.0048
7474,7475,CA-2011-167199,1/7/2011,1/11/2011,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,FUR-CH-10004063,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,2573.820,9,0.0,746.4078
7475,7476,CA-2011-167199,1/7/2011,1/11/2011,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,OFF-BI-10004632,Office Supplies,Binders,Ibico Hi-Tech Manual Binding System,609.980,2,0.0,274.4910
7476,7477,CA-2011-167199,1/7/2011,1/11/2011,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,OFF-AR-10001662,Office Supplies,Art,Rogers Handheld Barrel Pencil Sharpener,5.480,2,0.0,1.4796
7477,7478,CA-2011-167199,1/7/2011,1/11/2011,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,TEC-PH-10004977,Technology,Phones,GE 30524EE4,391.980,2,0.0,113.6742
7478,7479,CA-2011-167199,1/7/2011,1/11/2011,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,TEC-PH-10004539,Technology,Phones,Wireless Extenders zBoost YX545 SOHO Signal Bo...,755.960,4,0.0,204.1092
7479,7480,CA-2011-167199,1/7/2011,1/11/2011,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,OFF-FA-10001883,Office Supplies,Fasteners,"Alliance Super-Size Bands, Assorted Sizes",31.120,4,0.0,0.3112
7480,7481,CA-2011-167199,1/7/2011,1/11/2011,Standard Class,ME-17320,Maria Etezadi,Home Office,United States,Henderson,...,42420,South,OFF-PA-10000955,Office Supplies,Paper,Southworth 25% Cotton Granite Paper & Envelopes,6.540,1,0.0,3.0084
8639,8640,CA-2011-129819,12/13/2011,12/15/2011,Second Class,KC-16675,Kimberly Carter,Corporate,United States,Henderson,...,42420,South,OFF-BI-10004970,Office Supplies,Binders,"ACCOHIDE 3-Ring Binder, Blue, 1""",12.390,3,0.0,5.8233
9074,9075,CA-2011-136336,4/21/2011,4/26/2011,Standard Class,DB-13555,Dorothy Badders,Corporate,United States,Henderson,...,42420,South,OFF-ST-10002574,Office Supplies,Storage,"SAFCO Commercial Wire Shelving, Black",828.840,6,0.0,0.0000
9078,9079,CA-2013-108105,2/16/2013,2/23/2013,Standard Class,GW-14605,Giulietta Weimer,Consumer,United States,Henderson,...,42420,South,FUR-FU-10003773,Furniture,Furnishings,Eldon Cleatmat Plus Chair Mats for High Pile C...,318.080,4,0.0,34.9888
9079,9080,CA-2013-108105,2/16/2013,2/23/2013,Standard Class,GW-14605,Giulietta Weimer,Consumer,United States,Henderson,...,42420,South,OFF-BI-10002412,Office Supplies,Binders,Wilson Jones Snap Scratch Pad Binder Tool fo...,5.800,1,0.0,2.6100
9273,9274,CA-2014-146983,9/3/2014,9/7/2014,Standard Class,AH-10210,Alan Hwang,Consumer,United States,Henderson,...,42420,South,OFF-BI-10003650,Office Supplies,Binders,GBC DocuBind 300 Electric Binding Machine,1577.940,3,0.0,757.4112

In [26]:
store.query('Segment=="Consumer"& City=="Henderson"')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
538,539,CA-2012-134894,12/7/2012,12/11/2012,Standard Class,DK-12985,Darren Koutras,Consumer,United States,Henderson,...,42420,South,OFF-AP-10001271,Office Supplies,Appliances,Eureka The Boss Cordless Rechargeable Stick Vac,152.94,3,0.0,41.2938
539,540,CA-2012-134894,12/7/2012,12/11/2012,Standard Class,DK-12985,Darren Koutras,Consumer,United States,Henderson,...,42420,South,FUR-CH-10002647,Furniture,Chairs,"Situations Contoured Folding Chairs, 4/Set",283.92,4,0.0,70.9800
996,997,CA-2012-162537,10/28/2012,11/3/2012,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,OFF-EN-10003862,Office Supplies,Envelopes,Laser & Ink Jet Business Envelopes,10.67,1,0.0,4.9082
997,998,CA-2012-162537,10/28/2012,11/3/2012,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,OFF-ST-10004258,Office Supplies,Storage,Portable Personal File Box,36.63,3,0.0,9.8901
998,999,CA-2012-162537,10/28/2012,11/3/2012,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,FUR-FU-10002885,Furniture,Furnishings,Magna Visual Magnetic Picture Hangers,24.10,5,0.0,9.1580
999,1000,CA-2012-162537,10/28/2012,11/3/2012,Standard Class,RD-19585,Rob Dowd,Consumer,United States,Henderson,...,42420,South,FUR-FU-10001918,Furniture,Furnishings,C-Line Cubicle Keepers Polyproplyene Holder Wi...,33.11,7,0.0,12.9129
2551,2552,CA-2014-101042,11/20/2014,11/24/2014,Standard Class,AB-10105,Adrian Barton,Consumer,United States,Henderson,...,42420,South,FUR-FU-10004665,Furniture,Furnishings,"3M Polarizing Task Lamp with Clamp Arm, Light ...",821.88,6,0.0,213.6888
2552,2553,CA-2014-101042,11/20/2014,11/24/2014,Standard Class,AB-10105,Adrian Barton,Consumer,United States,Henderson,...,42420,South,OFF-BI-10000088,Office Supplies,Binders,GBC Imprintable Covers,21.96,2,0.0,10.7604
4430,4431,CA-2013-168893,11/4/2013,11/9/2013,Second Class,AP-10915,Arthur Prichep,Consumer,United States,Henderson,...,42420,South,OFF-FA-10002280,Office Supplies,Fasteners,Advantus Plastic Paper Clips,20.00,4,0.0,9.6000
4431,4432,CA-2013-168893,11/4/2013,11/9/2013,Second Class,AP-10915,Arthur Prichep,Consumer,United States,Henderson,...,42420,South,OFF-AR-10001770,Office Supplies,Art,Economy #2 Pencils,7.98,3,0.0,2.0748
4432,4433,CA-2013-168893,11/4/2013,11/9/2013,Second Class,AP-10915,Arthur Prichep,Consumer,United States,Henderson,...,42420,South,FUR-FU-10002885,Furniture,Furnishings,Magna Visual Magnetic Picture Hangers,24.10,5,0.0,9.1580
4433,4434,CA-2013-168893,11/4/2013,11/9/2013,Second Class,AP-10915,Arthur Prichep,Consumer,United States,Henderson,...,42420,South,OFF-AR-10003772,Office Supplies,Art,Boston 16750 Black Compact Battery Pencil Shar...,8.75,1,0.0,2.6250
4434,4435,CA-2013-168893,11/4/2013,11/9/2013,Second Class,AP-10915,Arthur Prichep,Consumer,United States,Henderson,...,42420,South,FUR-TA-10003392,Furniture,Tables,Global Adaptabilities Conference Tables,842.94,3,0.0,160.1586
7090,7091,CA-2012-119480,1/9/2012,1/13/2012,Standard Class,CC-12685,Craig Carroll,Consumer,United States,Henderson,...,42420,South,OFF-PA-10000474,Office Supplies,Paper,Easy-staple paper,106.32,3,0.0,49.9704
7091,7092,CA-2012-119480,1/9/2012,1/13/2012,Standard Class,CC-12685,Craig Carroll,Consumer,United States,Henderson,...,42420,South,OFF-AP-10001205,Office Supplies,Appliances,Belkin 5 Outlet SurgeMaster Power Centers,163.44,3,0.0,45.7632
7092,7093,CA-2012-119480,1/9/2012,1/13/2012,Standard Class,CC-12685,Craig Carroll,Consumer,United States,Henderson,...,42420,South,OFF-AR-10004691,Office Supplies,Art,Boston 1730 StandUp Electric Pencil Sharpener,42.76,2,0.0,11.1176
7093,7094,CA-2012-119480,1/9/2012,1/13/2012,Standard Class,CC-12685,Craig Carroll,Consumer,United States,Henderson,...,42420,South,OFF-PA-10004996,Office Supplies,Paper,"Speediset Carbonless Redi-Letter 7"" x 8 1/2""",51.55,5,0.0,24.2285
9078,9079,CA-2013-108105,2/16/2013,2/23/2013,Standard Class,GW-14605,Giulietta Weimer,Consumer,United States,Henderson,...,42420,South,FUR-FU-10003773,Furniture,Furnishings,Eldon Cleatmat Plus Chair Mats for High Pile C...,318.08,4,0.0,34.9888
9079,9080,CA-2013-108105,2/16/2013,2/23/2013,Standard Class,GW-14605,Giulietta Weimer,Consumer,United States,Henderson,...,42420,South,OFF-BI-10002412,Office Supplies,Binders,Wilson Jones Snap Scratch Pad Binder Tool fo...,5.80,1,0.0,2.6100
9273,9274,CA-2014-146983,9/3/2014,9/7/2014,Standard Class,AH-10210,Alan Hwang,Consumer,United States,Henderson,...,42420,South,OFF-BI-10003650,Office Supplies,Binders,GBC DocuBind 300 Electric Binding Machine,1577.94,3,0.0,757.4112

In [27]:
#multiple conditions
#how many orders were placed for region south and for segment consumer
#data[l1]&[l2]&[l3]]
#data[(l1)|(l2)]

In [28]:
store[(store['Region']=="South")&(store['Segment']=="Consumer")].shape[0]

838

In [29]:
#data.query('l1&l2")
store.query('Region=="South"&Segment=="Consumer"').shape[0]

838

In [30]:
#find how many transactionsnfrom region south and had profit >$50
len(store[(store['Region']=="South")&(store['Profit']>50)])

323

In [31]:
store[(store['Region']=="South")&(store['Profit']>50)].shape[0]

323

In [32]:
store.query('Region=="South"&Profit>50').shape[0]

323

In [33]:
#in class excercise
#write a code snippet to find out if there was any instances of packages delivered to los angles
store.query('City=="Los Angeles"').shape[0]

747

In [34]:
#how many times orders were shipped to the east region
store.query('Region=="East"').shape[0]

2848

In [35]:
#how to figure out the total quantity of products shipped to the east zone?
store.query('Region=="East"')['Quantity'].sum()

10618

# SORTING

In [36]:
#Sorting the data 
#Sort values() method to sort the values 
#sort data by profit
store.sort_values("Profit",ascending=False).head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
6826,6827,CA-2013-118689,10/3/2013,10/10/2013,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,...,47905,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.95,5,0.0,8399.9760
8153,8154,CA-2014-140151,3/24/2014,3/26/2014,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,...,98115,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,4,0.0,6719.9808

In [37]:
#class exercise 
#sorting data
#which are the most valuable customers in south region by sale?
store.query("Region=='South'").sort_values('Sales',ascending=False).head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2697,2698,CA-2011-145317,3/18/2011,3/23/2011,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.48,6,0.5,-1811.0784
8488,8489,CA-2013-158841,2/2/2013,2/4/2013,Second Class,SE-20110,Sanjit Engle,Consumer,United States,Arlington,...,22204,South,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.95,5,0.0,2799.9840

In [38]:
#sortb by 2 variables
store.sort_values(['Profit','Sales'],ascending=[False,True]).head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
6826,6827,CA-2013-118689,10/3/2013,10/10/2013,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,...,47905,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.95,5,0.0,8399.9760
8153,8154,CA-2014-140151,3/24/2014,3/26/2014,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,...,98115,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,4,0.0,6719.9808

In [39]:
#class exercise
#How to identify the top 10 customers in the south region (top 10 in terms of sale amount, discount)
#Give customer name and ID also
store.query("Region=='South'").sort_values(['Sales','Discount'],ascending=[False,True])[['Customer Name','Customer ID']].head(10)

             Customer Name Customer ID
2697           Sean Miller    SM-20320
8488          Sanjit Engle    SE-20110
683         Grant Thornton    GT-14635
509   Christopher Martinez    CM-12385
4297       Patrick O'Brill    PO-18850
9639           Joseph Holt    JH-15985
3280          Greg Maxwell    GM-14695
7583      Kristen Hastings    KH-16690
4093       Katrina Willman    KW-16435
1454          Mark Cousins    MC-17425

In [40]:
store.query("Region=='East'").sort_values(['Sales','Discount'],ascending=[False,True])[['Customer Name','Customer ID']].head(10)

           Customer Name Customer ID
2623        Tom Ashbrook    TA-21385
4190        Hunter Lopez    HL-15040
4277        Bill Shonely    BS-11365
6425  Christopher Conant    CC-12370
6626    Tom Boeckenhauer    TB-21400
7666       Daniel Raglin    DR-12940
6340        Todd Sumrall    TS-21370
1085       Karen Daniels    KD-16270
1803        Joseph Airdo    JA-15970
8204       Keith Dawkins    KD-16495

In [41]:
#Figure out the bootom 3(least ranked customers based on the sale amount) for all the zones
store.sort_values('Sales')[['Region','Sales']].head(3)

       Region  Sales
4101  Central  0.444
9292  Central  0.556
8658  Central  0.836

In [42]:
store.sort_values('Sales',ascending=False)[['Region','Sales']].tail(3)

       Region  Sales
8658  Central  0.836
9292  Central  0.556
4101  Central  0.444

# Group By
Groupby task (split the data into groups based on some criteria)

In [43]:
# i need the sum of the sale amount for each state
state_group=store.groupby('State',as_index=False) # already we have done tyhe groupby
#store.groupby('State).rest_index()
#here as_index=False/reset_index()method represent don't keep state variable as index
state_group

# aggregation method

In [44]:
sales_sum=state_group.agg({"Sales":'sum'}).head()
sales_sum

        State        Sales
0     Alabama   19510.6400
1     Arizona   35282.0010
2    Arkansas   11678.1300
3  California  457687.6315
4    Colorado   32108.1180

In [45]:
state_reg=store.groupby('Region',as_index=False)
state_reg

In [46]:
region=state_reg.agg({'Sales':'sum'}).head()
region

    Region        Sales
0  Central  501239.8908
1     East  678781.2400
2    South  391721.9050
3     West  725457.8245

In [47]:
store.groupby('State').agg({'Sales':np.sum,'Profit':np.max}).head()

                  Sales     Profit
State
Alabama      19510.6400  1459.2000
Arizona      35282.0010   211.4955
Arkansas     11678.1300   843.1706
California  457687.6315  1906.4850
Colorado     32108.1180   247.9960

In [48]:
store.groupby('State').agg({'Sales':np.sum,'Profit':np.mean}).reset_index().head()

        State        Sales     Profit
0     Alabama   19510.6400  94.865989
1     Arizona   35282.0010 -15.303235
2    Arkansas   11678.1300  66.811452
3  California  457687.6315  38.171608
4    Colorado   32108.1180 -35.867351

In [49]:
#what is the average quantity sold by region
store.groupby('Region').agg({'Quantity':np.average}).reset_index().head()

    Region  Quantity
0  Central  3.779595
1     East  3.728230
2    South  3.832716
3     West  3.829535

In [50]:
#find average profit by region
store.groupby('Region').agg({'Profit':np.average}).reset_index().head()

    Region     Profit
0  Central  17.092709
1     East  32.135808
2    South  28.857673
3     West  33.849032

In [51]:
#sales and profit with city
store.groupby(['State','City']).agg({'Sales':'max','Profit':np.mean})

                                 Sales      Profit
State         City
Alabama       Auburn           900.080   75.434517
              Decatur         1215.920   76.929854
              Florence        1819.860   49.731780
              Hoover           477.240    4.679325
              Huntsville      1319.960  100.525720
              Mobile          3040.000  197.802655
              Montgomery      1394.950   83.465710
              Tuscaloosa       141.960   25.505200
Arizona       Avondale         742.336   12.694833
              Bullhead City     14.368    3.361600
              Chandler         842.376   11.637214
              Gilbert         1113.024    9.216867
              Glendale         933.536    7.950426
              Mesa             552.000  -19.972550
              Peoria           280.792   -3.444225
              Phoenix         1879.960  -44.299733
              Scottsdale       307.776   -7.457325
              Sierra Vista      31.560    5.609367
              Tempe            318.400    7.342277
              Tucson          1023.936   -2.030213
              Yuma             599.985 -116.497725
Arkansas      Conway           301.960   45.294000
              Fayetteville    1793.980  120.852993
              Hot Springs      159.920   15.520950
              Jonesboro       1067.940   72.828300
              Little Rock      881.930   48.111212
              Pine Bluff       199.950   35.102400
              Rogers            40.410   18.588600
              Springdale         4.300    1.419000
              Texarkana        605.340   81.687300
...                                ...         ...
Washington    Bellingham      2665.620  203.530267
              Covington        236.880   28.777350
              Des Moines      1799.970  178.620486
              Edmonds         1298.550   45.303414
              Everett            3.856    1.397800
              Kent             786.480   75.387038
              Longview          76.120   12.966100
              Marysville        93.360    1.657500
              Olympia          603.920   27.925380
              Pasco            975.920   59.587400
              Redmond           22.920    6.910733
              Renton          1039.992   61.810800
              Seattle        13999.960   68.121721
              Spokane          837.600   24.603729
              Vancouver        316.000   15.090920
West Virginia Wheeling         673.344   46.480400
Wisconsin     Appleton        1649.750  277.383150
              Eau Claire       680.010   71.249633
              Franklin        1951.840  143.641689
              Green Bay        468.900   57.119100
              Kenosha          860.930  114.230311
              La Crosse        499.950   54.415220
              Madison         2807.840  112.365520
              Milwaukee       1526.560   62.068558
              Sheboygan         37.590    8.585475
              Superior         629.100   57.120244
              Waukesha          54.500   14.170000
              Wausau           245.880   22.607650
              West Allis       241.960   14.185400
Wyoming       Cheyenne        1603.136  100.196000

[604 rows x 2 columns]

In [52]:
#filter the data by east region, find the maximum sales by state wise 
store[store['Region']=="East"].groupby(['State','City']).agg({'Sales':np.max})

                                       Sales
State                City
Connecticut          Bristol         359.980
                     Danbury          27.460
                     Fairfield       897.150
                     Manchester     1043.920
                     Meriden        1133.350
                     Middletown      552.560
                     Milford         638.820
                     Norwich         370.140
                     Shelton          59.970
                     Waterbury       566.970
Delaware             Dover           211.960
                     Newark        10499.970
                     Wilmington     1268.820
District of Columbia Washington     1379.920
Maine                Bangor          437.850
                     Lewiston         67.980
Maryland             Baltimore      1049.200
                     Clinton        1259.930
                     Columbia       2541.980
                     Gaithersburg    231.980
                     Hagerstown       43.800
                     Laurel          125.130
                     Rockville       179.970
Massachusetts        Andover         354.900
                     Beverly        1737.180
                     Cambridge       311.980
                     Everett        1628.820
                     Franklin       1488.424
                     Holyoke         301.960
                     Lawrence       1199.980
...                                      ...
Ohio                 Fairfield       795.408
                     Grove City      119.940
                     Hamilton        190.848
                     Kent            107.982
                     Lakewood        661.176
                     Lancaster      4499.985
                     Lorain         1421.664
                     Marion         1548.990
                     Mason            68.704
                     Medina         1188.000
                     Mentor          344.220
                     Newark         2025.360
                     Parma          1537.074
                     Springfield     895.944
                     Toledo         1502.376
                     Troy           1022.970
Pennsylvania         Allentown       663.072
                     Altoona          16.032
                     Bethlehem      1369.764
                     Chester         853.930
                     Lancaster       286.344
                     Philadelphia   8399.976
                     Reading         521.960
                     York            422.058
Rhode Island         Cranston       1604.900
                     Providence     5399.910
                     Warwick        1999.960
                     Woonsocket       52.960
Vermont              Burlington     4404.900
West Virginia        Wheeling        673.344

[114 rows x 1 columns]

In [53]:
store.query('Region=="East"').groupby('State').agg({'Sales':'max'})

                          Sales
State
Connecticut            1133.350
Delaware              10499.970
District of Columbia   1379.920
Maine                   437.850
Maryland               2541.980
Massachusetts          1737.180
New Hampshire          2249.910
New Jersey             9099.930
New York              11199.968
Ohio                   4499.985
Pennsylvania           8399.976
Rhode Island           5399.910
Vermont                4404.900
West Virginia           673.344

In [54]:
#what is the avg quantity sold by region
store.groupby('Region').agg({'Quantity':np.average})

         Quantity
Region
Central  3.779595
East     3.728230
South    3.832716
West     3.829535

In [55]:
#Find the avg profit by region
store.groupby('Region').agg({'Profit':np.mean})

            Profit
Region
Central  17.092709
East     32.135808
South    28.857673
West     33.849032

In [56]:
#find out the top 5 states in terms of sale amount
store.groupby('State').agg({'Sales':np.sum}).head(5)

                  Sales
State
Alabama      19510.6400
Arizona      35282.0010
Arkansas     11678.1300
California  457687.6315
Colorado     32108.1180

In [57]:
store.groupby('Region').agg({'Sales':'max'}).sort_values("Sales",ascending=False).head()

             Sales
Region
South    22638.480
Central  17499.950
West     13999.960
East     11199.968

# Renaming the columns

In [58]:
store.groupby("Segment",as_index=False).agg({'Discount':np.mean}).rename(columns={"Discount":"Average Discount"})

       Segment  Average Discount
0     Consumer          0.158141
1    Corporate          0.158228
2  Home Office          0.147128

In [59]:
#which segment of customers get the max discount in terms of discount percentage per segment
data1=store.groupby("Segment",as_index=False).agg({'Discount':np.max})
print(store.groupby('Segment',as_index=False).agg({'Discount':np.max}).shape[0]/store.shape[0])
print(data1['Discount']/store.shape[0])

0.0003001801080648389
0    0.00008
1    0.00008
2    0.00008
Name: Discount, dtype: float64

In [60]:
#what are the top 5 categories that give maximum profit
store.groupby("Category",as_index=False).agg({'Profit':np.max}).sort_values("Profit",ascending=False)

          Category    Profit
2       Technology  8399.976
1  Office Supplies  4946.370
0        Furniture  1013.127

# Adding new columns

In [61]:
##adding new coloumns
#comparing sales per order with the average sale
store["Hi_Low"]=(store['Sales'])/(store['Sales'].mean())
store.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Hi_Low
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,1.139660
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,3.184314

In [62]:
#create cost price variable
store["cost"]=(store['Sales'])-(store['Profit'])
store.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Hi_Low,cost
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,1.139660,220.0464
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,3.184314,512.3580

# Apply method in a data frame

In [63]:
#apply method
#what is the total sales,quantity,discount,profit accross total us
def get_sum(x):
    return np.sum(x)  #in this function we were finding out the sum of all column values
store[["Sales","Quantity","Discount","Profit"]].apply(get_sum,axis=0)    #axis=0 function is to be applied on each column or data
                                                                          # along the rows

Sales       2.297201e+06
Quantity    3.787300e+04
Discount    1.561090e+03
Profit      2.863970e+05
dtype: float64

In [64]:
#map function
store['Sales'].map(get_sum)

0        261.9600
1        731.9400
2         14.6200
3        957.5775
4         22.3680
5         48.8600
6          7.2800
7        907.1520
8         18.5040
9        114.9000
10      1706.1840
11       911.4240
12        15.5520
13       407.9760
14        68.8100
15         2.5440
16       665.8800
17        55.5000
18         8.5600
19       213.4800
20        22.7200
21        19.4600
22        60.3400
23        71.3720
24      1044.6300
25        11.6480
26        90.5700
27      3083.4300
28         9.6180
29       124.2000
          ...
9964      13.4000
9965       4.9800
9966     109.6900
9967      40.2000
9968     735.9800
9969      22.7500
9970     119.5600
9971     140.7500
9972      99.5680
9973     271.9600
9974      18.6900
9975      13.3600
9976     249.5840
9977      13.8600
9978      13.3760
9979     437.4720
9980      85.9800
9981      16.5200
9982      35.5600
9983      97.9800
9984      31.5000
9985      55.6000
9986      36.2400
9987      79.9900
9988     206.1000
9989      25.2480
9990      91.9600
9991     258.5760
9992      29.6000
9993     243.1600
Name: Sales, Length: 9994, dtype: float64

In [65]:
store['Profit_flag']=(store['Profit']>5000).map({True:'HIGH',False:'LOW'})
store.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Hi_Low,cost,Profit_flag
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,1.139660,220.0464,LOW
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,3.184314,512.3580,LOW

# Working with date time functions

datetime is a data type pandas

In [66]:
##Date time
#find how much time it takes to place an order and ship the product
#to_datetime() helps to convert an object in to date object
store['Order Date']=pd.to_datetime(store['Order Date'])
store['Ship Date']=pd.to_datetime(store['Ship Date'])
store.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Hi_Low,cost,Profit_flag
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,1.139660,220.0464,LOW
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,3.184314,512.3580,LOW

In [67]:
store['duration']=store['Ship Date']-store['Order Date']
store.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Hi_Low,cost,Profit_flag,duration
0,1,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136,1.139660,220.0464,LOW,3 days
1,2,CA-2013-152156,2013-11-09,2013-11-12,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820,3.184314,512.3580,LOW,3 days

In [68]:
#How many times has it taken more than 5 days from placing an order to shipping
store[store['duration']>'5 day'].shape[0]

1822

In [69]:
#what is the probability of shipping time existing 5 days
store[store['duration']>'5 days'].shape[0]/store.shape[0]

0.18230938563137883

In [70]:
#what are the product category for which the shipping time is greater than 5 days
store[store['duration']>'5 days'].groupby('Category').agg({"Category":'size'})

                 Category
Category
Furniture             365
Office Supplies      1131
Technology            326

In [71]:
#which are the cities to which the shipping time is 1 day(display only the cities)
store[store['duration']=='1 days'].groupby('City').agg({'City':np.size})

                  City
City
Allen                2
Altoona              2
Ann Arbor            1
Antioch              1
Apple Valley         2
Arlington            1
Athens               1
Aurora               2
Baltimore            1
Beaumont             1
Bethlehem            3
Burlington           3
Cedar Rapids         1
Chicago              4
Cleveland            3
Clinton              4
Colorado Springs     1
Columbus             1
Concord              2
Coppell              1
Coral Springs        2
Cranston             6
Dallas               7
Detroit              4
Draper               2
Fairfield            2
Farmington           1
Fayetteville         2
Fort Collins         1
Fort Worth           1
...                ...
Pasadena             6
Pearland             1
Peoria               6
Philadelphia        15
Phoenix              2
Pomona               1
Pueblo               4
Redmond              1
Redondo Beach        3
Roseville            1
San Diego            4
San Francisco       22
San Jose             6
Sandy Springs        5
Santa Ana            1
Scottsdale           4
Seattle             17
Spokane              2
Springfield          6
Suffolk              1
The Colony           2
Tinley Park          1
Toledo               3
Troy                 8
Tucson               5
Waterbury            3
Westminster          1
Wilmington           5
Woodstock            2
Yuma                 1

[95 rows x 1 columns]

In [72]:
#alternate method
store[store['duration']=='1 days']['City'].head()

55    Troy
56    Troy
57    Troy
58    Troy
59    Troy
Name: City, dtype: object

In [73]:
#changing date formats
store["Ship Date"].dt.strftime("%d/%m/%Y").head(2)

0    12/11/2013
1    12/11/2013
Name: Ship Date, dtype: object

In [74]:
store['Order Date'].dt.strftime('%y-%m-%d %H:%M').head(2)

0    13-11-09 00:00
1    13-11-09 00:00
Name: Order Date, dtype: object

In [75]:
df=pd.DataFrame()
#create 6 dates
df['time']=pd.date_range('2/5/2019',periods=6,freq='2H')  #H:hours,T:minutes,S:secouns,M:months,D:days,Y:years
print(df['time'])

0   2019-02-05 00:00:00
1   2019-02-05 02:00:00
2   2019-02-05 04:00:00
3   2019-02-05 06:00:00
4   2019-02-05 08:00:00
5   2019-02-05 10:00:00
Name: time, dtype: datetime64[ns]

In [76]:
#extract features -year,month,day,hour,and minute
df['year']=df['time'].dt.year
df['month']=df['time'].dt.month
df['day']=df['time'].dt.day
df['hour']=df['time'].dt.hour
df['minute']=df['time'].dt.minute
print(df)
#extract dasy of week and then print
#weekday returns numerical vlue:0-monday,6-sunday
#print(df['time'].weekday)
print(df['time'].dt.weekday_name)

                 time  year  month  day  hour  minute
0 2019-02-05 00:00:00  2019      2    5     0       0
1 2019-02-05 02:00:00  2019      2    5     2       0
2 2019-02-05 04:00:00  2019      2    5     4       0
3 2019-02-05 06:00:00  2019      2    5     6       0
4 2019-02-05 08:00:00  2019      2    5     8       0
5 2019-02-05 10:00:00  2019      2    5    10       0
0    Tuesday
1    Tuesday
2    Tuesday
3    Tuesday
4    Tuesday
5    Tuesday
Name: time, dtype: object

# Combining data frames using concat function

In [77]:
data1=pd.read_csv('H:/python/data manupulation/Sales_Sep.csv')
data2=pd.read_csv('H:/python/data manupulation/Sales_Oct.csv')

In [78]:
data1.shape

(10, 2)

In [79]:
data2.shape

(12, 2)

In [80]:
row_concat=pd.concat([data1,data2])
row_concat

   Cust_ID  Sales_Amount
0      CS1          1000
1      CS2           900
2      CS3           875
3      CS4           230
4      CS5           987
5      CS6           560
6      CS7           455
7      CS8           350
8      CS9           874
9     CS10           289
0      CS1          1000
1      CS2           890
2      CS3           900
3      CS4           450
4      CS8           980
5      CS9           100
6     CS10           985
7     CS11          1900
8     CS12          2100
9     CS13          3000
10    CS14          3500
11    CS15          4000

In [81]:
#exporting a file
row_concat.to_csv('H:/python/data manupulation/newfile.csv')

# combining dataframes using merge function

In [82]:
#outer join:Every records will appear
#pd.merge(df1,df2,how='outer',on='customerid)
pd.merge(data1,data2,how='outer',on='Cust_ID')

   Cust_ID  Sales_Amount_x  Sales_Amount_y
0      CS1          1000.0          1000.0
1      CS2           900.0           890.0
2      CS3           875.0           900.0
3      CS4           230.0           450.0
4      CS5           987.0             NaN
5      CS6           560.0             NaN
6      CS7           455.0             NaN
7      CS8           350.0           980.0
8      CS9           874.0           100.0
9     CS10           289.0           985.0
10    CS11             NaN          1900.0
11    CS12             NaN          2100.0
12    CS13             NaN          3000.0
13    CS14             NaN          3500.0
14    CS15             NaN          4000.0

In [83]:
#inner join:only matching records will appear
#pd.merge(df1,df2,how-'inner',on='CoustomerID')
pd.merge(data1,data2,how='inner',on='Cust_ID')

  Cust_ID  Sales_Amount_x  Sales_Amount_y
0     CS1            1000            1000
1     CS2             900             890
2     CS3             875             900
3     CS4             230             450
4     CS8             350             980
5     CS9             874             100
6    CS10             289             985

In [84]:
#pd.merge(df1,df2,how='left',
pd.merge(data1,data2,how="left",on="Cust_ID")

  Cust_ID  Sales_Amount_x  Sales_Amount_y
0     CS1            1000          1000.0
1     CS2             900           890.0
2     CS3             875           900.0
3     CS4             230           450.0
4     CS5             987             NaN
5     CS6             560             NaN
6     CS7             455             NaN
7     CS8             350           980.0
8     CS9             874           100.0
9    CS10             289           985.0

In [85]:
#right join:df2 will be keep as it is and on the basis of common variable merge data frame df1
#pd.merge(df1,df2,how='right',on='CoustomerID')
pd.merge(data1,data2,how="right",on="Cust_ID")

   Cust_ID  Sales_Amount_x  Sales_Amount_y
0      CS1          1000.0            1000
1      CS2           900.0             890
2      CS3           875.0             900
3      CS4           230.0             450
4      CS8           350.0             980
5      CS9           874.0             100
6     CS10           289.0             985
7     CS11             NaN            1900
8     CS12             NaN            2100
9     CS13             NaN            3000
10    CS14             NaN            3500
11    CS15             NaN            4000

In [87]:
# drop a column
data1.drop("Cust_ID",axis=1)

   Sales_Amount
0          1000
1           900
2           875
3           230
4           987
5           560
6           455
7           350
8           874
9           289

# working with string manipulation function

In [89]:
st=pd.read_csv("data manupulation//Strings.csv")

In [90]:
st.head(2)

   Age    Income_M Expenses
0   10  Rs 12000/-    8,000
1   30  Rs 45000/-   21,000

In [91]:
#we cannot apply directly mean function on the income coloumn of the above data frame as the income
#coloumn is stored as a string type not a numeric type
st['Income_M'].mean()

TypeError: Could not convert Rs 12000/-Rs 45000/-Rs 39000/-Rs 6000/-Rs 20000/-Rs 42000/-Rs 34000/-Rs 56000/-Rs 25000/-Rs 100000/-Rs 56000/-Rs 2000/-Rs 40000/-Rs 27000/-Rs 32000/-Rs 34000/-Rs 20000/-Rs 23000/-Rs 57000/-Rs 62000/- to numeric

In [93]:
st['Income_M']=st['Income_M'].str.replace("Rs","")
print(st.head(2))

   Age  Income_M Expenses
0   10   12000/-    8,000
1   30   45000/-   21,000

In [94]:
st['Income_M']=st['Income_M'].str.replace("/-","")
print(st.head())

   Age Income_M Expenses
0   10    12000    8,000
1   30    45000   21,000
2   34    39000   20,000
3   16     6000    2,000
4   19    20000   10,000

In [96]:
st['Income_M']=pd.to_numeric(st['Income_M'])  #change string to numeric

In [97]:
st['Income_M'].mean()

36600.0

# Handling characters data using dummies

In [98]:
dat=pd.read_csv("data manupulation//medal.csv",encoding="latin")
dat.head(2)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver

In [99]:
dummies=pd.get_dummies(dat)

In [100]:
dummies.head(3)

,Edition,City_Amsterdam,City_Antwerp,City_Athens,City_Atlanta,City_Barcelona,City_Beijing,City_Berlin,City_Helsinki,City_London,...,Event_Ã©pÃ©e individual,Event_Ã©pÃ©e team,"Event_Ã©pÃ©e, amateurs and masters","Event_Ã©pÃ©e, masters",Event_gender_M,Event_gender_W,Event_gender_X,Medal_Bronze,Medal_Gold,Medal_Silver
0,1896,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,1896,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,1896,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

# Handling missing values

In [103]:
#counting the number of missing values in each coloumn
data_m=pd.read_csv("data manupulation//credit_history.csv",na_values=['Missing',""])
#if there is any blank spaces or keywords missing in the source csv file they will be replaced by NaN

In [108]:
data_m.isnull().sum()

default        0
amount         0
grade          0
years        279
ownership      0
income         0
age            0
dtype: int64

In [111]:
#summary statistics for year variable
data_m['years'].describe()

count    7448.000000
mean        6.086332
std         6.700758
min         0.000000
25%         2.000000
50%         4.000000
75%         8.000000
max        62.000000
Name: years, dtype: float64

In [112]:
#replacing missing values
#data_m['years']=data_m['years'].fillna(np.median(data_m['years']))
data_m['years']=data_m['years'].fillna(data_m['years'].median())
#data_m['years']=data_m['years'].fillna(4)

In [114]:
data_m['years'].median()

4.0

# Reshaping data frames

In [116]:
#undertsnding stack operation
df_stacked=data_m.stack()
print(df_stacked)

0     default             0
      amount           1000
      grade               B
      years               2
      ownership        RENT
      income          19200
      age                24
1     default             1
      amount           6500
      grade               A
      years               2
      ownership    MORTGAGE
      income          66000
      age                28
2     default             0
      amount           2400
      grade               A
      years               2
      ownership        RENT
      income          60000
      age                36
3     default             0
      amount          10000
      grade               C
      years               3
      ownership        RENT
      income          62000
      age                24
4     default             1
      amount           4000
                     ...
7722  income          47628
      age                24
7723  default             1
      amount           1500
      grade               B
      years               5
      ownership        RENT
      income          18000
      age                21
7724  default             1
      amount           4100
      grade               B
      years              18
      ownership        RENT
      income          57000
      age                26
7725  default             1
      amount           2000
      grade               B
      years               4
      ownership        RENT
      income          25000
      age                25
7726  default             1
      amount           6000
      grade               C
      years               0
      ownership        RENT
      income          45000
      age                25
Length: 54089, dtype: object

In [118]:
#understanding the unstacked operation
df_unstacked=df_stacked.unstack()
print(df_unstacked)

     default amount grade years ownership  income age
0          0   1000     B     2      RENT   19200  24
1          1   6500     A     2  MORTGAGE   66000  28
2          0   2400     A     2      RENT   60000  36
3          0  10000     C     3      RENT   62000  24
4          1   4000     C     2      RENT   20000  28
5          1   5000     A     2      RENT   12000  27
6          1   6000     C     1      RENT   48000  23
7          0   5000     D     2      RENT   40000  21
8          0   4200     A     6      RENT   60000  29
9          0  12000     A     4  MORTGAGE   85000  22
10         1   3600     A     3      RENT   70000  27
11         0   6000     B     1      RENT   72000  25
12         1   4000     A     2      RENT   54000  27
13         0  13000     C     2  MORTGAGE   65000  22
14         1   1500     A     3      RENT   45000  24
15         1   4800     D     2      RENT   75000  24
16         1   1200     C     0      RENT    4800  22
17         0   7000     A     0      RENT   75800  23
18         1  12000     C     3  MORTGAGE   40000  23
19         0  10000     D     2      RENT   90000  21
20         0   2475     A    16  MORTGAGE   63600  23
21         1   7000     C     0      RENT   54000  28
22         0  10000     D     1      RENT   72000  38
23         0   7200     D     1       OWN   42996  25
24         1   7600     C     1      RENT   67680  25
25         0   1800     A    12      RENT   35000  29
26         0   7200     B     1  MORTGAGE   73200  32
27         0   2600     B     2      RENT   40792  35
28         0   7000     B     0  MORTGAGE   85000  23
29         0  12000     B    11  MORTGAGE  136000  32
...      ...    ...   ...   ...       ...     ...  ..
7697       1  10000     C     0      RENT   35000  33
7698       1  25000     E     7      RENT   84000  28
7699       0  18000     E     0      RENT   90000  31
7700       1   7000     D     3  MORTGAGE   42000  22
7701       1   9800     C     2       OWN   62000  33
7702       0   1600     B     1      RENT   25000  25
7703       1   4000     C     1      RENT   26000  23
7704       1   5000     A     0      RENT   90000  23
7705       0   4000     C     4      RENT   75000  31
7706       1   8000     A     2  MORTGAGE   43200  24
7707       1   6000     D    16  MORTGAGE   58000  22
7708       1  14400     B    24       OWN   28000  30
7709       0   9600     A    16  MORTGAGE  150000  23
7710       1  10000     C     5      RENT   60000  29
7711       1  10000     C     3      RENT   32004  23
7712       0   4000     C     2      RENT   82000  26
7713       0   8000     B    11  MORTGAGE   47000  23
7714       1   6500     C     1      RENT   24000  94
7715       1   8000     D     4      RENT   39666  34
7716       1   3825     C     3      RENT   28500  22
7717       1  20000     B     1  MORTGAGE   76000  23
7718       0  15000     D     4      RENT   56000  28
7719       0  12000     E     4      RENT   95000  22
7720       0  10000     A     4  MORTGAGE   33390  24
7721       1   6400     D     2      RENT   55200  24
7722       1   6000     C     6      RENT   47628  24
7723       1   1500     B     5      RENT   18000  21
7724       1   4100     B    18      RENT   57000  26
7725       1   2000     B     4      RENT   25000  25
7726       1   6000     C     0      RENT   45000  25

[7727 rows x 7 columns]

# pivot table

pandas.pivot(index, columns, values) function produces pivot table based on 3 columns of the DataFrame.

Uses unique values from index / columns and fills with values.

Python Pandas function pivot_table help us with the summarization and conversion of dataframe in long form to dataframe in wide form, in a variety of complex scenarios.

In [119]:
data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
print(gapminder.head(3))

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710

In [120]:
pd.pivot_table(gapminder,index='country', values='lifeExp',columns='continent').head()

continent       Africa   Americas       Asia     Europe  Oceania
country
Afghanistan        NaN        NaN  37.478833        NaN      NaN
Albania            NaN        NaN        NaN  68.432917      NaN
Algeria      59.030167        NaN        NaN        NaN      NaN
Angola       37.883500        NaN        NaN        NaN      NaN
Argentina          NaN  69.060417        NaN        NaN      NaN

In [121]:
df1 = gapminder[['continent', 'year','lifeExp']]
# pivot table example with three columns
pd.pivot_table(df1, values='lifeExp', index=['year'], columns='continent').head()

continent     Africa  Americas       Asia     Europe  Oceania
year
1952       39.135500  53.27984  46.314394  64.408500   69.255
1957       41.266346  55.96028  49.318544  66.703067   70.295
1962       43.319442  58.39876  51.563223  68.539233   71.085
1967       45.334538  60.41092  54.663640  69.737600   71.310
1972       47.450942  62.39492  57.319269  70.775033   71.910

More use cases of the pivot_table function could be used

https://pbpython.com/pandas-pivot-table-explained.html

#cross tab cross tabulation is a method to quantitatively analyze the relationship between multiple variables

In [4]:
import pandas as pd
import numpy as np
 
#Create a DataFrame
d = {
    'Name':['Alisa','Bobby','Cathrine','Alisa','Bobby','Cathrine',
            'Alisa','Bobby','Cathrine','Alisa','Bobby','Cathrine'],
    'Exam':['Semester 1','Semester 1','Semester 1','Semester 1','Semester 1','Semester 1',
            'Semester 2','Semester 2','Semester 2','Semester 2','Semester 2','Semester 2'],
     
    'Subject':['Mathematics','Mathematics','Mathematics','Science','Science','Science',
               'Mathematics','Mathematics','Mathematics','Science','Science','Science'],
   'Result':['Pass','Pass','Fail','Pass','Fail','Pass','Pass','Fail','Fail','Pass','Pass','Fail']}
 
df = pd.DataFrame(d,columns=['Name','Exam','Subject','Result'])
df

        Name        Exam      Subject Result
0      Alisa  Semester 1  Mathematics   Pass
1      Bobby  Semester 1  Mathematics   Pass
2   Cathrine  Semester 1  Mathematics   Fail
3      Alisa  Semester 1      Science   Pass
4      Bobby  Semester 1      Science   Fail
5   Cathrine  Semester 1      Science   Pass
6      Alisa  Semester 2  Mathematics   Pass
7      Bobby  Semester 2  Mathematics   Fail
8   Cathrine  Semester 2  Mathematics   Fail
9      Alisa  Semester 2      Science   Pass
10     Bobby  Semester 2      Science   Pass
11  Cathrine  Semester 2      Science   Fail

# 2 Way Cross table in python pandas:

In [127]:
#calculate the cross table of subject and result
pd.crosstab(df.Subject, df.Result,margins=True)
#margin=True displays the row wise and column wise sum of the cross table

Result       Fail  Pass  All
Subject
Mathematics     3     3    6
Science         2     4    6
All             5     7   12

In [128]:
#3 Way Cross table in python pandas:
pd.crosstab([df.Subject, df.Exam],df.Result, margins=True)

Result                  Fail  Pass  All
Subject     Exam
Mathematics Semester 1     1     2    3
            Semester 2     2     1    3
Science     Semester 1     1     2    3
            Semester 2     1     2    3
All                        5     7   12

In [5]:
#current date
import pandas as pd
pd.to_datetime('today')

Timestamp('2019-12-27 00:00:00')

In [6]:
#pd.timestamp('today')
pd.datetime.now()

datetime.datetime(2019, 12, 27, 10, 52, 43, 570565)