In [1]:
import pandas as pd
import numpy as np
import os
from pandas import DataFrame

In [2]:
os.getcwd()

'H:\\python'

In [3]:
stack=pd.read_csv("assignment//stackoverflow.csv")
stack

,RespondentID,Country,Salary,YearsCodedJob,OpenSource,Hobby,CompanySizeNumber,Remote,CareerSatisfaction,Datascientist,...,DevOps,Embedded developer,Graphic designer,Graphics programming,Machine learning specialist,Mobile developer,Quality assurance engineer,Systems administrator,Web developer,
0,3,United Kingdom,113750.000000,20,1,1,10000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
1,15,United Kingdom,100000.000000,20,0,1,5000.0,Remote,8,0,...,0,1,0,0,0,0,0,0,0,NaN
2,18,United States,130000.000000,20,1,1,1000.0,Remote,9,0,...,1,1,0,0,0,0,1,0,1,NaN
3,19,United States,82500.000000,3,0,1,10000.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
4,26,United States,175000.000000,16,0,1,10000.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
5,55,Germany,64516.129030,4,0,0,1000.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,1,NaN
6,62,India,6636.323594,1,0,1,5000.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
7,71,United States,65000.000000,1,0,1,20.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
8,73,United States,120000.000000,20,1,1,100.0,Remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
9,77,United States,96283.000000,20,1,1,1000.0,Remote,10,0,...,0,0,0,0,0,0,0,0,1,NaN
10,82,United States,110000.000000,13,0,1,20.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
11,96,Germany,53763.440860,4,1,0,5000.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
12,100,United States,109400.000000,7,1,1,20.0,Not remote,8,0,...,0,0,0,0,0,1,0,0,0,NaN
13,103,Germany,83870.967740,17,1,1,20.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,0,NaN
14,104,United States,51000.000000,1,0,0,20.0,Not remote,10,0,...,0,0,0,0,0,0,0,0,1,NaN
15,111,United Kingdom,32500.000000,1,1,0,10.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,1,NaN
16,114,United Kingdom,30000.000000,1,0,1,20.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,0,NaN
17,116,United States,90000.000000,10,1,0,10.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
18,124,United States,115000.000000,4,0,1,NaN,Not remote,7,0,...,0,0,0,0,0,0,0,0,0,NaN
19,126,United States,93000.000000,9,0,0,500.0,Not remote,7,0,...,1,0,0,0,0,0,1,0,0,NaN
20,135,United States,92500.000000,14,1,1,100.0,Not remote,8,0,...,1,0,0,0,0,0,0,0,1,NaN
21,136,United Kingdom,32500.000000,2,0,1,10.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
22,144,United Kingdom,43750.000000,1,1,1,1.0,Not remote,5,1,...,0,0,1,1,0,0,0,0,1,NaN
23,150,United Kingdom,113750.000000,20,1,1,20.0,Not remote,9,0,...,1,0,0,0,0,1,0,0,1,NaN
24,157,United States,80000.000000,5,0,0,500.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
25,158,United States,100297.000000,15,0,1,100.0,Remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
26,170,United States,100000.000000,14,0,1,20.0,Not remote,7,0,...,1,0,0,0,0,0,0,1,1,NaN
27,178,United States,120000.000000,4,0,1,20.0,Not remote,10,0,...,1,0,0,0,0,1,0,1,1,NaN
28,183,United Kingdom,131250.000000,14,0,0,20.0,Not remote,10,0,...,0,0,1,1,0,1,0,0,1,NaN
29,184,India,6606.959330,1,1,1,NaN,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6961,51179,Germany,48387.096770,4,0,1,10000.0,Not remote,5,0,...,0,0,0,0,0,0,0,0,1,NaN
6962,51184,Germany,60215.053760,13,1,0,10000.0,Remote,10,0,...,1,0,0,0,1,0,0,0,1,NaN
6963,51189,United Kingdom,56250.000000,3,0,1,10.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6964,51217,United States,110000.000000,20,0,1,1000.0,Remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
6965,51237,India,7928.351197,5,1,0,100.0,Not remote,7,0,...,0,0,0,0,0,1,0,0,0,NaN
6966,51247,India,14975.774480,6,1,1,10.0,Not remote,8,0,...,0,0,1,0,0,0,0,1,1,NaN
6967,51249,India,7634.708560,2,0,1,500.0,Not remote,6,1,...,0,0,0,0,0,0,0,0,0,NaN
6968,51256,Germany,69892.473120,3,0,1,1.0,Remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6969,51260,United Kingdom,53750.000000,11,0,1,100.0,Not remote,6,0,...,1,0,0,0,0,1,0,0,1,NaN
6970,51267,United States,80000.000000,5,1,1,10000.0,Not remote,8,0,...,0,1,0,0,0,0,0,0,1,NaN
6971,51272,United Kingdom,45000.000000,13,0,0,20.0,Not remote,3,0,...,0,0,0,0,0,0,0,0,1,NaN
6972,51275,Germany,48387.096770,5,1,1,100.0,Not remote,9,0,...,0,1,0,0,0,1,0,1,1,NaN
6973,51277,Germany,8602.150538,1,1,0,10.0,Not remote,9,0,...,0,0,0,0,0,1,0,0,0,NaN
6974,51284,Germany,41935.483870,1,0,1,20.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6975,51285,United Kingdom,43750.000000,3,1,1,1000.0,Not remote,9,0,...,0,0,0,0,0,0,0,0,1,NaN
6976,51294,United States,88000.000000,4,0,0,100.0,Not remote,7,0,...,1,0,0,0,0,0,0,0,1,NaN
6977,51295,United States,165000.000000,19,1,1,1000.0,Not remote,10,0,...,0,1,0,0,0,0,0,0,0,NaN
6978,51300,United States,54000.000000,4,0,0,5000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,0,NaN
6979,51302,United States,75000.000000,9,0,0,20.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6980,51310,United States,52000.000000,1,1,1,100.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6981,51311,United States,50000.000000,1,0,1,1.0,Not remote,7,0,...,0,0,0,0,0,0,0,1,1,NaN
6982,51313,United States,120000.000000,4,0,0,500.0,Not remote,7,0,...,1,0,0,0,0,0,0,0,0,NaN
6983,51316,United States,140000.000000,10,1,1,10000.0,Not remote,6,0,...,0,0,0,0,0,0,0,0,0,NaN
6984,51329,India,4404.639554,5,0,1,1.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
6985,51336,United Kingdom,88750.000000,8,0,1,1000.0,Not remote,8,0,...,0,0,0,0,0,0,0,0,1,NaN
6986,51341,India,6460.138012,2,0,1,10000.0,Not remote,6,0,...,1,0,0,0,0,0,0,0,0,NaN
6987,51344,India,4228.453972,2,0,1,1.0,Not remote,10,0,...,0,0,0,0,0,1,0,0,0,NaN
6988,51356,United Kingdom,33750.000000,1,1,1,100.0,Not remote,6,0,...,0,0,0,0,0,0,0,0,1,NaN
6989,51388,United States,58000.000000,1,0,1,100.0,Not remote,7,0,...,0,0,0,0,0,0,0,0,1,NaN
6990,51391,United States,40000.000000,3,0,1,1.0,Not remote,6,0,...,0,0,0,0,0,1,0,0,1,NaN

In [4]:
stack.shape

(6991, 23)

In [6]:
stack.isnull().sum()

RespondentID                               0
Country                                    0
Salary                                     0
YearsCodedJob                              0
OpenSource                                 0
Hobby                                      0
CompanySizeNumber                         31
Remote                                     0
CareerSatisfaction                         0
Datascientist                              0
Database administrator                     0
Desktop applications developer             0
Developer with stats/math background       0
DevOps                                     0
Embedded developer                         0
Graphic designer                           0
Graphics programming                       0
Machine learning specialist                0
Mobile developer                           0
Quality assurance engineer                 0
Systems administrator                      0
Web developer                              0
                                        6991
dtype: int64

In [14]:
stack.groupby("Country",as_index=True).size()

Country
Canada             619
Germany            950
India              666
United Kingdom    1270
United States     3486
dtype: int64

In [17]:
stack['Country'].unique()

array(['United Kingdom', 'United States', 'Germany', 'India', 'Canada'], dtype=object)

In [18]:
stack.groupby("Country",as_index=False).agg({'Datascientist':np.sum})

          Country  Datascientist
0          Canada             43
1         Germany             75
2           India             43
3  United Kingdom             77
4   United States            266

In [26]:
stack.query('Country=="India"')['Datascientist'].sum()

43

In [28]:
stack.query('Remote=="Remote"')['Remote'].count()

718

In [35]:
(stack.groupby("Country").agg({'Salary':np.mean}))

                      Salary
Country
Canada          58226.407451
Germany         52405.823429
India           11557.674529
United Kingdom  53962.871808
United States   98313.127654

In [49]:
x=stack.query('Country=="India"')["Remote"]

In [69]:
round(163134.796)

163135